html, body {
    font-family: 'Rambla', sans-serif;
    padding: 0 !important;
    background-color: #fbf4f9;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    color: #1b262c;
}

.top {
    font-size: 25px;
    background-color: #1b262c;
    color: whitesmoke;
    text-align: center;
}

#top-header {
    font-size: 50px;
}

.row {
    padding-top: 40px;
    margin: 0;
    width: 100% !important;
}

.card {
    margin: 0 !important;
}

.mContent {
    background-color: #0f4c75;
    margin-bottom: 20px !important;
}

.mContent .card-body, .eContent .card-body {
    color: whitesmoke;
}

.eContent {
    margin-bottom: 20px !important;
    background-color: #3282b8;
}

.iContent {
    margin-bottom: 20px !important;
    background-color: #bbe1fa;
}

.iContent .card-body {
    color: #0f4c75;
}

h3 {
    font-weight: bold;
}

h4 {
    line-height: 20px;
    font-size: 20px;
}

@media (max-width: 375px) {
    #top-header {
        font-size: 40px;
    }
}