{{#each this}}
{{#with Engineer}}
<div class="col-sm-6 col-md-6 col-lg-3">
    <div class="card eContent">
        <div class="card-body">
            <h3>{{name}}</h3>
            <h4><i class="fas fa-laptop-code"></i> {{title}}</h4>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h4>Id: {{id}}</h4>
            </li>
            <li class="list-group-item">
                <h4>Email: {{email}}</h4>
            </li>
            <li class="list-group-item">
                <h4>GitHub: {{github}}</h4>
            </li>
        </ul>
    </div>
</div>
{{/with}}
{{/each}}